@model Core_Practical_17.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="container d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card" style="max-width:30rem;">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">Student Details</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name) :
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Email) :
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DOB) :
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.DOB)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Age) :
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="views">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        </div>
                    }
                    <div class="stats">
                        <a class="btn btn-danger" asp-action="Index">Back to List</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
